#nav_main_nav{
    display: flex;
    justify-content: flex-end;
    
}

.main{
    list-style: none;
}

.nav_main_li{
    display: inline;
    margin: 4px;
}


#div_websiteName_section h2{
    margin: 10px;
    font-size: xx-large;
}

.search-box {
    margin-left: 25%;
    margin-top: 3%;
}

.search-txt {
    width: 150%;
}

ul li {
    list-style: none;
}

.category {
    margin: 0;
    padding: 0;
    margin: 10px;
    display: flex;
}

.category li {
    padding-left: 5%;
    padding-bottom: 10%;
    background-color: aqua;
}

#main_ul {
    padding: 0;
    width: 18%;
}

#main_ul > ul >li {
    float:left;
	width:140px;

}

#category-box > ul >li > ul {
    display: none;
    margin: 0;
    padding: 0;
}

#category-box > ul >li:hover >ul {
    display: block;
}

#category-box > ul >li >ul > li:hover {
    color: hotpink;
    transition: ease ls;
}
